html {
    height: 100%;
}

body { 
    display: inline-block;
    background-size: cover;
    height: 100%;
    width:100%;
     background-image: linear-gradient(to bottom right, darkblue, teal);
}
head 
    {
    display: inline-block;
    }
div{
    display: inline-block;
    height: 70%;
    width: 25%;
    background-image: url(./kalnai.jpg);
    background-size: cover;
    Margin: 7% 0 10% 20%;
    }
form
    {
        float: right;
        margin: 5% 20% 10% 0;
        display: inline-block;
        background-color: white;
        height: 80%;
        width: 35%;
    }
p {
    float: right;
    margin: 0;
}
label 
    {
        text-transform: uppercase;
    }   
